.directory {
    height:100%;
    .wrap {
        height:100%;
        .item {
            position:relative;
            height:100%;
            width:50%;
            float:left;
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;

            &::after {
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:rgba(0,0,0,.3);

            }

            a {
                font-size:1.8rem;
                font-weight:bold;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                background:white;
                padding:10px 12px;
                color:black;
                
            }
        }

    }
}