html {
    font-size:10px;
}

html,body,#root,.App,.fullHeight {
    height:100%;
    
}


*,::before,::after {
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin:0;
    padding:0;
}

.main {
    height:calc(100% - 6.5rem - 5.8rem);
    max-width:1450px;
    margin:0 auto;

}


a {
    text-decoration:none;
}

li {
    list-style-type: none;
}

body {
    font-family:"Open Sans",sans-serif;
    font-weight:400;
    font-size:1.8rem;
    line-height:1;
    cursor: pointer;


}

